@mixin btn($bg,$color,$width,$height,$border-radius) {
    background-color: $bg;
    color: $color;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    }
@mixin flex($flex,$justify-content,$align-items,$gap){
    display: $flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}
@mixin mob($breakpoint) {
    @media screen and (min-width: $breakpoint) {
    @content;
    }
    }
@mixin tab($breakpoint) {
    @media screen and (min-width: $breakpoint) {
    @content;
    }
    }
@mixin desc($breakpoint) {
    @media screen and (min-width: $breakpoint) {
    @content;
    }
    }
