.features {
    padding: 94px 0;
    &-list {
        display: flex;
        gap: 30px;
    }
    &-list-title {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.41px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #212121;
        margin-bottom: 10px;
    }
    &-list-text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        color: #757575; 
    }
    &-list-item::before {
        background-image: url("../img-webstudio/Group\ 1.png");
        width: 270px;
        height: 120px;
        content: "";
        display: inline-block;
        margin-bottom: 30px;
    }
    &-list-item:nth-child(2)::before{
        background-image: url("../img-webstudio/Group\ 2.png");
        width: 270px;
        height: 120px;
        content: "";
        display: inline-block;
    }
    &-list-item:nth-child(3)::before{
        background-image: url("../img-webstudio/Group\ 3.png");
        width: 270px;
        height: 120px;
        content: "";
        display: inline-block;
    }
    &-list-item:nth-child(4)::before{
        background-image: url("../img-webstudio/Group\ 4.png");
        width: 270px;
        height: 120px;
        content: "";
        display: inline-block;
    }
}