.footer {
    padding: 60px 0;
    background-color: #2F303A;
    &-container {
        text-align: center;
        @include tab(767px){
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 165px;
            row-gap: 60px;
        }
       @include desc(1199px) {
         @include flex(flex,_,_,70px);
       }
    }
    &-logo {
        color: #FFFFFF;
        @include desc(1199px){
            padding-right: 60px;
        }
    }
    &-social-list{
        @include desc(1199px){
            margin-left: 0;
        }
    }
    &-social-list-link {
        fill: #FFFFFF;
        border-radius: 50%;
        background-color: #44454E;
        display: flex;
        width: 44px;
        height: 44px;
        transition: .5s;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #2196F3;
        }
    }
}
.address {
    margin-top: 20px;
    margin-bottom: 60px;
    &-list {
        @include desc(1199px){
            text-align: left;
        }
    }
    &-list-link {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em; 
        color:rgba(255, 255, 255, 0.6);
    }
    &-list-item {
        margin-bottom: 9px;
    }
}
.location-link {
    color: #FFFFFF; 
}
.join-text {
    margin-top: 36px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;    
    color: #FFFFFF;
    text-transform: uppercase;
    @include desc(1199px){
        margin-top: 12px;
        margin-bottom: 20px;
        text-align: left;
    }
} 
.join-text-list {
    @include tab(767px){
        margin: 20px;
    }
    @include desc(1199px){
        margin-top: 12px;
    }
}
.e-mail-input {
    @include tab(767px){
        margin: 0 auto;
    }
    @include desc(1199px){
        margin: 0;
    }
    &-search {
        margin-bottom: 20px;
        background-color: #2F303A;
        border: solid 1px #6D6E74;
        border-radius: 4px;
        padding: 15px 16px;
        width: 100%;
        height: 50px;
        @include tab(767px){
            width: 450px;
        }
        @include desc(1199px){
            width: 358px;
        }
        &:focus {
            outline: none;
            color: #FFFFFF;
        }
        &::placeholder {
            color: #ACACB0;
        }
    }
    &-btn {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 10px 28px;    
        vertical-align: middle;
        @include btn(#2196F3,#FFFFFF,_,_,4px);
        @include tab(767px){
            display: flex;
            margin: 0 auto;
        }
        @include desc(1199px){
            display: inline-block;
        }
    }
    &-btn svg {
        vertical-align: middle;
        margin-left: 10px;
    }
}