.portfolio {
    padding: 94px 0;
    &-list{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            @include tab(767px){
               justify-content: start;
            }
    }
    &-list-item {
        width: 450px;
        border: solid 1px #EEEEEE;
        @include tab(767px){
            // flex-basis: calc(100% - 30px) / 2;
        width: 354px;
        }
        @include desc(1199px){
            width: 370px;
        }
    }
    &-list-link:hover .overlay-text {
        transform: translateY(0);
    }
    &-list-text-wrap {
        color: #212121;
        padding: 20px 24px;
    }
    &-list-title {
        margin-bottom: 4px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.06em;
        text-align: left;    
    }
    &-list-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.03em;
        text-align: left;
        color:#757575;    
    }
}
.overlay {
    position: relative;
    overflow: hidden;
    &-text {
        position: absolute;
        padding: 63px 24px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.03em;
        text-align: left;
        background-color: #2196F3;   
        color: #FFFFFF; 
        bottom: 0;
        height: 100%;
        transform: translateY(100%);
        transition: 1s;
        opacity: 0.9;
        
    }
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 15px;
    margin-bottom: 30px;
    @include tab(767px){
        justify-content: center;
    }
    @include desc(1199px){
        margin-bottom: 50px;
        display: flex;
        gap: 8px;
        justify-content: center;
    }
    &-btn {
        padding: 6px 25px;
        transition: .3s;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-align: center;
        @include btn(_,#212121,_,_,4px);
        &:hover {
            background-color: #2196F3;
            color: #FFFFFF;
        }    
    }
}