.button {
    width: 216px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}
.form {
    display: flex;
    flex-direction: column;
}
.link {
    color: #58B0F6;
}
.data {
    font-size: 20px;
    color: #212121;
    font-family: sans-serif;
}
.name {
    font-family: sans-serif;
    color: #757575;
}
.input-name {
    width: 448px;
    height: 40px;
}
.telefon {
    font-family: sans-serif;
    color: #757575;
}
.input-telefon {
    width: 448px;
    height: 40px;
}
.post {
    font-family: sans-serif;
    color: #757575;
}
.input-post {
    width: 448px;
    height: 40px;
}
.coment {
    font-family: sans-serif;
    color: #757575;
}
.form-modal-input, .form-modal-textarea {
    width: 100%;
}
.form-modal-textarea {
    height: 128px;
    padding: 12px 16px;
    margin-top: 4px;
}
.modal.text {
    margin-bottom: 12px;
}
.form-modal-label {
    margin-bottom: 10px;
    display: block;
}
.form-modal-input {
    height: 48px;
    margin-top: 4px;
}
.privacy-box {
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
.modal-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Roboto';
    line-height: 30px;
}